@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothamPro.ttf);
}

@font-face {
  font-family: GothamProBold;
  src: url(../fonts/GothamPro-Bold.ttf);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GothamPro;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: GothamProBold;
  font-size: 4.5rem;
  width: 54rem;
  font-weight: 900;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

.header {
  width: 100%;
  background: url(../img/BackgroundOthers.png) no-repeat;
  padding-top: 6.25rem;
}

.main {
  width: 100%;
  background: url(../img/headerBackgroundWhite.png);
  padding-top: 6.25rem;
  padding-bottom: 5rem;
  margin-bottom: -7rem;
}
@media screen and (max-device-width:1600px) {
  .main {width: 1600px;}
  .header {width: 1600px;}
  .jokes {width: 1600px;}
  .footer {width: 1600px;}
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72rem;
  margin: 0 auto;
  background: #ffffff;
  opacity: 0.75;
  border-radius: 6.25rem;
}

.logo {
  margin-left: 3.75rem;
}

.menuNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNavbar ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  list-style: none;
}

.menuNavbar li {
  margin-right: 35px;
}

.laguagesToggle {
  margin-right: 2rem;
}

.laguagesToggle button {
  margin: 0;
  border: 0;
  font-size: 1.5rem;
}

.laguagesToggle .en {
  background: #a960d8;
  border-radius: 0 0.5rem 0.5rem 0;
}

.laguagesToggle .ru {
  background: #d2acea;
  border-radius: 0.5rem 0 0 0.5rem;
}

.offer {
  text-align: center;
}

.offer h1 {
  margin: 13rem auto 2rem auto;
  font-weight: 400;
}

.offer hr {
  border: 0;
  background: white;
  height: 1px;
  width: 35rem;
  margin: 0 auto;
}

.offer p {
  margin: 3rem auto 0 auto;
  padding: 0rem 0 7rem 0;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  width: 62rem;
}

.makeOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  margin: 0 auto;
}

.makeOrder div {
  width: 40rem;
  padding: 3rem;
  background: white;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.makeOrder p {
  font-weight: 300;
  font-size: 2rem;
  text-align: justify;
}

.makeOrder button {
  text-align: center;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  width: 20rem;
  color: #7109b4;
  background: #f9f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  padding: 1rem 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quest {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-top: 6rem;}

.quest p {
  margin-left: 5rem;
  margin-right: 5rem;
  width: 40rem;
  font-size: 2rem;
}

.firstimg {
  margin-left: 5rem;
  margin-right: 1rem;
}
.secimg {
  margin-left: 1rem;
  margin-right: 5rem;
}
.makeOrder span {
  color: #7109b4;
} 

.quest span {
  color: #7109b4;
}

.more {
  color: #f9f0ff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #7109b4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  margin-top: 3rem;
  margin-left: 42%;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.jokes {
  background: url(../img/BackgroundJokes.png);
padding-top: 0%;
}

.jokes h3 {
  text-align: center;

  color: rgba(113, 9, 180, 0.81);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  padding: 7rem 0 3rem 0;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.slider img {
width: 350px;
height: 450px;
}

.slide {
  display: none;
}

.slide.visible {
  display: block;
  margin-top: 2rem;
}

#minecraft {
  width: 500px;
}

.slide p {
  color: #918383;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.footer {
  background: linear-gradient(
      140.08deg,
      #8560eb -17.59%,
      rgba(255, 255, 255, 0) 77.22%
    ),
    rgba(113, 9, 180, 0.81);
}

.footer hr {
  width: 76rem;
  border: 0;
  background: white;
  height: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17rem;
  padding-top: 2rem;
  margin: 0 auto 0.75rem auto;
}

.menuWrapper {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  background: #ffffff;
  opacity: 0.75;
  top: 1.35rem;
  left: -0.75rem;
}

.menu ul {
  display: block;
}

.menu li {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.menu li:hover {
  background: rgba(169, 96, 216, 0.3);
}

.menu.active {
  display: block;
}